@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


/* Global */
html {
  font-family: JetBrains Mono;
  color: #b4befe;
}
header {
  position: absolute;
  left: 30px;
  top: 30px;
}
body {
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
}

.window {
  width: 700px;
  border-radius: 20px;
  background-color: #11111b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
.fetch {
  font-family: JetBrains Mono;
  font-size: 16px;
}
.window-content {
  display: inline-flex;
  padding: 20px;
}

.windowbar {
  display: flex;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  background-color: #b4befe;
  padding: 15px;
}
.window-controls {
  display: flex;
  gap: 6px;
  align-self: flex-end;
  margin-bottom: 4px;
}
  
.control {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
  
.control.close {
  background-color: #ff5f56;
}
  
.control.minimize {
  background-color: #ffbd2e;
}
  
.control.maximize {
  background-color: #27c93f;
}
  
.back-button{
  margin-left: auto;
}

.back-button-style {
  background-color: transparent;
  border: none;
  background: none;
  cursor: pointer;
  font-family: JetBrains Mono;
  font-size: 15px;
}
.window-title {
  font-size: 14px;
  color: #333;
}
  

/*Home Page*/
.logo {
  color: #94e2d5;
}

nav {
  margin-top: 4rem;
}
nav a, header a {
  text-decoration: none;
  color: #b4befe;
}

nav a:hover, header a:hover {
  text-decoration: underline;
  color: #eba0ac;
}

/* About Page */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  height: 700px;
}
.window-about-content {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.bio {
  font-size: 15px;
}
.me {
  border-radius: 20px;
  gap: 20px;
}

/*Pictures Page*/
.pictures {
  gap: 10px;
  align-items: baseline;
  display: flex;
}

.pictures img {
  width: 90%;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pictures-page {
  height: 130vh;
}
/*Projects Page*/

.projects-page {
  height: 170vh;
}
.projects-window {
  gap: 20px;
  display: block;
  padding: 20px;
  margin-bottom: 20px;
}

/*Stuff Page*/

.link {
  color: #b4befe;
}

.link:hover {
  color: #eba0ac;
}

.stuff-page {
  height: 180vh;
}